<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penny Pincher</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>	    
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <style>
	  .modal-backdrop{
		  z-index: 0;
    }
	
	  .modal-footer{
	    padding-bottom: 0;
	  }
	</style>
    
  </head>
  <body ng-app="penny">
<header class="center">
  <h1><a href="/">Penny Pincher</a></h1>
    <img src="images/logo.png" alt="pennyPincher logo" class="center"></img>

</header>

